@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.head_title {
    /* color:#454545; */
    color: white;
    font-size: 25px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97.5vh;
    background-color: white;
    flex-direction: column;
}

.input-style {
    background-color: white;
    width: 100px;
    height: 50px;    
}

  .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 70px;
    margin-top: 50px;
    color: white;
    height: 400px;
    width: 250px;
    position: static;
    z-index: 2;
  }
  .clothes-upload-button{
    border: 3px solid white;
    border-radius: 50px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    position: relative;
    top : 90%;
    left: 4%;
    z-index: 2;
  }
  .custom-file-upload2 {
    border: 3px solid white;
    border-radius: 50px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    position: relative;
    top : 90%;
    left: 7%;
    color: white;
    z-index: 2;
  }

  button {
    background-color: #0F70E6;
    height: 80px;
    width: 200px;
    border: none;
    position: relative;
    top : 30%;
    border-radius: 50px;
    z-index: 12;
    color : white;
    &:hover {
      background: #127DFF;
      color: white;
    }
  }

  .btn-upload {
    width: 150px;
    height: 30px;
    background: #0F70E6;
    border: 1px solid #0F70E6;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &:hover {
      background: #127DFF;
      color: white;
    }
  }

 input[type="file"] {
    display: none;
}

.custom-file-upload::before {
    content: attr(data-file-name);
    display: inline-block;
    background-color: #0F70E6;
    color: #fff;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    overflow: hidden;
    position: fixed;
    top : 62%;
    left: 32%;
}

.custom-file-upload2::before {
  content: attr(data-file-name);
  display: inline-block;
  background-color: #0F70E6;
  color: #fff;
  padding: 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  overflow: hidden;
  position: fixed;
  top : 62%;
  left: 50%;
}

.custom-file-upload::before:hover {
    background-color: #0056b3;
}

.img-custom-clothes {
  max-width: 100%;
  max-height: 200px;
  margin-top: 50px;
  right:57%;
  display: none;
}

.img-custom-model {
  max-width: 100%;
  max-height: 200px;
  margin-top: 50px;
  display: none;
}

.upload-image-cover {
  width : 200px;
  height: 265px;;
  border : none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  background-color: white;
  z-index: 2;
}


.box {
  width: 98%;
  height: 700px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: absolute;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}

.wave {
  opacity: .4;
  position: absolute;
  top: -120%;
  left: 15%;
  background: #0af;
  width: 1500px;
  height: 1500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 5000ms infinite linear;
}

.wave.-three {
  animation: drift 7000ms infinite linear;
}

.wave.-two {
  animation: drift 10000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.box:after {
  content: '';
  display: block;
  position: relative;
  left: 0;
  top: -30%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #EA8AAC, rgba(182, 137, 226, 0) 80%, rgba(255, 255, 255, 0.5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}


@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.h2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}

.fairy {
  font-family: "Playfair Display",serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
  text-transform: uppercase;
  letter-spacing: .4em;
  font-size: 40px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}

.how_to {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97.5vh;
  background-color: white;
  margin-top: 30%;
}

.how_to_generate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97.5vh;
  background-color: white;
  flex-direction: column;
}

.how_clothes {
  position: relative;
  margin-right: 15%;
}

.how_c_button{
  border: 3px solid white;
  border-radius: 50px;
  display: inline-block;
  padding: 6px 12px;
  color: white;
  position: relative;
  margin-top: 20%;
}

.how_m_button{
  border: 3px solid white;
  border-radius: 50px;
  display: inline-block;
  padding: 6px 12px;
  color: white;
  position: relative;
  margin-top: 20%;
}

.btn-upload-how {
  width: 150px;
  height: 30px;
  background: #0F70E6;
  border: 1px solid #0F70E6;
  border-radius: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.btn-motion5 span {position: absolute;
  top: -50px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #0F70E6;
  border-bottom: 1px solid #0F70E6;
  transform: rotate(-45deg);
  animation: btn-motion5 1.5s infinite;
  box-sizing: border-box;
}

@keyframes btn-motion5 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.head_title {
  color:#454545;
}

.show_img {
  width : 300px;
  height : 400px;
  overflow: hidden; /* 자식 div의 크기를 조절하기 위해 */
  position: relative; /* 자식 div의 위치를 설정하기 위해 */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 0;
}


.custom-btn {
  width: 150px;
  height: 30px;
  color: #fff;
  border-radius: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: #127DFF;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  padding-top: 5px;
}

.btn-16 {
  border: none;
  color: white;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: 1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: white;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
  border-radius: 50px;
}
.btn-16:active {
  top: 2px;
}

